.mypy_cache
.venv
.venv/
__*/*
__pycache__
**/__pycache__/
node_modules
*.import
**/logs
**/*.ans
*.ans
logs
.direnv
.cache
.direnv/*
*.pem
.env
.env.*
!.env.example
.env.schema
*.pkl
*.exe
.torch-cache/
.torch-cache/**
